<div class='footer'>
  <a class='credits' href='https://www.linkedin.com/in/colin-fike-5aa219a1'>Made by Colin Fike</a> - <a class='credits' href='https://github.com/colinfike/markovky'>Github Here</a>
</div>
