<%= content_for :content do %>
  <div class='twitter-form'>
    <%= text_field_tag 'twitter_username', '', placeholder: 'Enter Twitter Username', class: 'form-control' %>
    <%= submit_tag 'Generate', :class => 'twitter_submit form-control' %>
  </div>

  <div class='sentence-container'>
    <span></span>
  </div>
  <div class='error-container'>
    <span></span>
  </div>
<% end %>
