<%= content_for :content do %>
  <div class='twitter-form'>
    <%= text_field_tag 'twitter_username', '', placeholder: 'Enter Twitter Username', class: 'form-control twitter-form__input' %>
    <%= submit_tag 'Generate Sentence', :class => 'form-control twitter-form__input', :id => 'twitter_submit' %>
    <a data-remote='true' href='/markov/fetch_word_map?id=3'>Click</a>
  </div>

  <div class='container' id='success-container'>
  </div>
  <div class='container container--error' id='error-container'>
  </div>
  <div id='word-map-container' class='container container--word-map'>
  </div>
<% end %>
